
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="IV+H6hPjL+NHh2fNGu16KqyOzterpVI29RhgPl/KiBH6sy10gAMmCB9/h6xshlJgt1eZXOv/zLVYGT17ABBi2g==" />

    <link rel="stylesheet" media="all" href="/assets/application-945628f9f95377705c9108ec9a9704e6f6ffa0767c02e34400d75b5be64fc1b7.css" data-turbolinks-track="reload" />
    <script src="/assets/application-11e027fe501efa6924bd87aa8f6ef7436fd1539022b412029c4a223dec9664f8.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Home", users_path %>
          </li>
          <li>
            <%= link_to "Users", "#" %>
          </li>
          <li>
            <%= link_to "Books", "#" %>
          </li>
          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>
      </ul>
    </nav>
  </div>
</header>

  	<div class='body'>
      <div class='container'>

        <p id="notice">Signed in successfully.</p>


      	<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <table class='table'>
      <tr><%= attachment_image_tag @user, :profile_image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= @user %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= @user %></th>
      </tr>
    </table>
    <%= link_to "プロフィール編集", new_user_path %>

<div class='row'>
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_9814" href="/users/9814/edit"></a>
</div>

    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="g5DOeCtND6HL0f1ICoKeFuazd4W2FnNSgGcqLUs/aR1ZySWpLPYhig8hzekCvCZr5f39o8l4MVcKx0D5VDu3qg==" />
  <div class="field row">
    <label for="book_title">Title</label>
    <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" />
  </div>
</form>

  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>

    <table class='table table-hover table-inverse'>
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><a href="/users/9814">
          <img class="attachment user profile_image" src="/attachments/2ed7c4c6b203429ce5675039a44992f08b29efb0/store/fill/50/50/05c8a04fdcd571d14f8bcda6ab316f5da0dbc739a68ccd63025d39eb911a/profile_image" alt="Profile image" />
</a>        </td>
        <td><a class="book_16040" href="/books/16040">aaaaaa</a></td>
        <td>bbbbbbbbbb</td>
      </tr>
  </tbody>
</table>
  </div>
</div>
      </div>
    </div>

    <footer>
  <div class='container'>
  	<div class='row'>
    	<div class='col-xs-3 col-xs-offset-9'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>


  </body>
</html>
